/* logo color : #1C9954 */
.selector-for-some-widget {
  box-sizing: content-box;
}

body {
  font-family: "Rubik","Arial",sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: #fff;
}

.header-section {
  background-color: #191a1d;
}

.logo {
  font-size: 2.25rem;
  display: block;
  text-transform: uppercase;
  font-weight: 900 !important;
  color: #fff;
}

.col-logo {
  margin: auto;
  padding-left: 25px;
}

/* .navbar-brand.logo {
  
} */

.nav {
  font-size: xx-large !important;
}


.container.site-header {
  padding: 60px 0px;
}

.nav-link {
  color: #ababab;
  /* active color will be #fff */
}


.nav-link.active {
  color: #fff;
  /* active color will be #fff */
}

.intro-section {
  padding-top: 11px;
  padding-bottom: 100px;
  background-color: #191a1d;
}

.container.intro {
  padding-top: 111px;
}

.col.intro {
  padding-right: 147px;
}

.nav-item {
  text-decoration: none;
  transition: 0.3s all;
}

.nav-link {
  /* padding: 0 10px; */
  position: relative;
  letter-spacing: 0.5px;
}

.nav-link:hover {
  color: #fff;
}

.nav-link:after{
  content: '';
  position: absolute;
  background-color: #1C9954;
  height: 6px;
  width: 0%;
  left: 50%;
  bottom: -6px;
  transition: 0.3s;
  border-radius: 6px;
  transform: translateX(-50%);
}

.nav-link:hover:after{
  width: 70%;
}

.nav-link.active:after {
  width: 70%;
  opacity: 1;
}